# Mot de passe admin (changez-le !)
ADMIN_PASSWORD=12012003

# Numéro WhatsApp pour les commandes (format international sans +)
NEXT_PUBLIC_WHATSAPP_PHONE=2250749408449

# Nom du site
SITE_NAME=AJE Services

# Adresse physique de la boutique
NEXT_PUBLIC_ADDRESS=Abobo N'dotré - Abidjan, Côte d'Ivoire
